* {
  margin: 0;
  font-family: system-ui, -apple-system, sans-serif;
  user-select: none;
  color: #333;
  background-color: #fdfdfd;
}

body {
  overflow: hidden;
}

.hidden {
  position: absolute;
  opacity: 0;
}

.error p {
  margin-top: 0.5rem;
  color: crimson;
}

.join {
  display: grid;
  place-items: center;
  margin: 2rem;
}

.join h1 {
  text-transform: uppercase;
  color: dodgerblue;
}

.join .form {
  display: grid;
  place-items: center;
}

.join .form * {
  font-size: 1rem;
}

.join .form button {
  margin-top: 1rem;
  padding: 1rem;
  max-width: 200px;
  width: 100%;
  text-transform: uppercase;
  color: #fdfdfd;
  background-color: dodgerblue;
  border-radius: 0.5rem;
  border: none;
  transition: all 0.2s;
}

.join .form button:hover {
  cursor: pointer;
  background-color: #007af5;
}

.join .password {
  position: relative;
  margin-top: 2rem;
}

.join .password label {
  position: absolute;
  padding: 0.1rem;
  font-size: 0.8rem;
  text-transform: capitalize;
  top: -0.7rem;
  left: 0.6rem;
  color: dodgerblue;
  background-color: inherit;
}

.join .password input {
  padding: 1rem;
  outline: 0.1rem solid #ddd;
  border-radius: 0.5rem;
  border: none;
}
